{% extends "main.html" %}
{% block content %}
<h1>UPDATE PASSWORD PAGE</h1>

<form method="POST">
{% csrf_token %}
    <input type="password" name="old_password" placeholder="old password" required ><br><br>
    <input type="password" name="new_password" placeholder="new password" required ><br><br>
    <input type="password" name="confirm_password" placeholder="confirm password" required ><br><br>

    <button type="submit">Submit</button>

</form>
<p> <a href="{% url 'profile'%}"><button>Back</button></a></p>
{% endblock  %}
